@font-face {
    font-family: 'verdana';
    src: url('../font/Verdana.ttf');
}

body { 
background-color: #ecf0f1;
font-family: 'verdana', sans-serif;
}

 #banniere{
 	height: 150px;
 	border: 2px solid #a1a1a1;
    padding: 10px 40px;
    background: #dddddd;
    border-radius: 25px;
}

#logo,#pub{

	margin-top: 100px
}
#view{
	margin-top: 100px
	}

#formsearch{
	height: 60px;
}

.btn-base-light {
    color: black;
    background-color: #e74c3c;
    border-width: 2px;
}
.btn-base-light:hover{
	color: rgba(252, 184, 95, 1);
	background-color: white;

}


#lastannonces {
	margin: 1em 0 .6em 0;
	padding: 0 0 0 20px;
	font-weight: normal;
	color: white;
	font-family: 'Hammersmith One', sans-serif;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
	position: relative;
	font-size: 30px;
	line-height: 40px;
	margin-top: 70px;
	
	
}
