postit_announce_home:
    path:     /
    defaults: 
        _controller: PostItAnnounceBundle:Announce:index

postit_announce_view:
    path:     /announce/{id}
    defaults:
      _controller:  PostItAnnounceBundle:Announce:view
    requirements:
      id: \d+

postit_announce_add:
    path:     /add
    defaults:
      _controller:   PostItAnnounceBundle:Announce:add

